body {
  background-color: #000F1E;
  color: #fff;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.App {
  text-align: center;
  margin: 20px;

}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}
.main-buttons {
  margin: 10px;
}

.main-buttons {
  background-color: #39FF14;
  color: #000F1E;
  padding: 10px;
  width: 200px;
  font-size: 15px;
}

.main-buttons {
  background-color: #45a049;
}

.dropdown {
  background-color: #0074FF;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.client-info {
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  border: 1px solid #000F1E;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000F1E;
}

.client-info h2 {
  color: #000;
}

.keyword-input input {
  border: 1px solid #000;
}

.keyword-input button {
  background-color: #39FF14;
  color: #000F1E;
}

.keyword-input button:hover {
  background-color: #45a049;
}

.client-info p {
  color: #000;
}

hr {
  height: 5px;
 background: #fff;
}

h2 {
  font-size: 32px;
  color: #00FFF0
}

li {
  list-style-type: none;
}